<div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight d-flex flex-column">
    <div *ngFor="let menuItem of menuItems ;let i = index">
      <button (click)="toggleChildren(menuItem.id , i)">{{ menuItem.name}}</button>
    </div>
  </div>
  <div class="p-2 bd-highlight d-flex flex-row">
    <div *ngFor="let item of lenght">
        <div *ngFor="let childItem of children[item] ;let i = index">
      <button (click)="Children(childItem.id , item , i)">{{ childItem.name }}</button>
    </div>
    </div>

  </div>
</div>
