<button mat-button [matMenuTriggerFor]="menu">Open Menu</button>
<mat-menu #menu="matMenu">
  <ng-container *ngFor="let menuItem of menuItems">
    <button mat-menu-item [matMenuTriggerFor]="submenu">{{ menuItem.label }}</button>
    <mat-menu #submenu="matMenu">
      <ng-container *ngFor="let subItem of menuItem.subItems">
        <button mat-menu-item [matMenuTriggerFor]="subsubmenu">{{ subItem.label }}</button>
        <mat-menu #subsubmenu="matMenu">
          <ng-container *ngFor="let subsubmenu of subItem.subItems">
            <button mat-menu-item [matMenuTriggerFor]="threesubmenu">{{ subsubmenu.label }}</button>
            <mat-menu #threesubmenu="matMenu">
              
            </mat-menu>
          </ng-container>
        </mat-menu>
      </ng-container>
    </mat-menu>
  </ng-container>
</mat-menu>
