<form [formGroup]="form" class="mt-5">
    <h6 class="mb-1 text-dark pe-1">Enter Your FirstName</h6>
    <input type="text" class="form-control form-control-sm mb-1" formControlName="FirstName">
    <h6 class="mb-1 text-dark pe-1">Enter Your LastName</h6>
    <input type="text" class="form-control form-control-sm mb-1" formControlName="LastName">
    <h6 class="mb-1 text-dark pe-1">Enter Your Mobile</h6>
    <input type="text" class="form-control form-control-sm" formControlName="Mobile">
</form>

